*.clarity linguist-language=Clarity
*.clarity linguist-detectable=true
*.py linguist-vendored
editors/linguist/* linguist-documentation
docs/* linguist-documentation
playground/* linguist-documentation
